.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}

.bg {
  background-image: url(../images/麵包圖/bread2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}

.bg-marble {
  background: url(../images/麵包圖/大理石.jpg) center center;
  background-size: cover;
  // transform: rotateY(180deg);
}

.bg-breadGo {
  background: url(../images/麵包圖/giveBread.jpg) center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}

.arrow {
  position: relative;

  &::after {
    position: absolute;
    bottom: 9%;
    right: -3px;
    transform: rotate(33deg);
    content: "";
    width: 50px;
    height: 5px;
    border-radius: 3px;
    background-color: #dee2e6;
  }
}


//已登入
// html {
//   height: 100%;
// }
// body {
//   margin:0;
//   padding:0;
//   font-family: sans-serif;
//   background: linear-gradient(#141e30, #243b55);
// }

.login-box {
  position: relative;
  margin-top: 25%;
  // top: 15%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: $dark;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  opacity: 50%;
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: $primary;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: $white;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: $primary;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: $primary;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: $primary;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px $primary,
    0 0 25px $primary,
    0 0 50px $primary,
    0 0 100px $primary;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, $primary);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, $primary);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, $primary);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, $primary);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}


// 倒數

.tick {
  // font-size: 1rem;
  white-space: nowrap;
  font-family: arial, sans-serif;
}

.tick-flip,
.tick-text-inline {
  // font-size: .5em;
}

.tick-label {
  // margin-top: 1em;
  font-size: 1em;
}

.tick-char {
  width: .5em;
}

.tick-text-inline {
  display: inline-block;
  text-align: center;
  min-width: .5em;
}

.tick-text-inline+.tick-text-inline {
  margin-left: -.325em;
}

.tick-group {
  margin: 0 .5em;
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255) !important;
}

.tick-text-inline {
  color: rgb(90, 93, 99) !important;
}

.tick-label {
  color: rgb(90, 93, 99) !important;
}

.tick-flip-panel {
  color: rgb(255, 255, 255) !important;
}

.tick-flip {
  font-family: important;
}

.tick-flip-panel-text-wrapper {
  line-height: 1.45 !important;
}

.tick-flip-panel {
  background-color: rgb(59, 61, 59) !important;
}

.tick-flip {
  border-radius: 0.12em !important;
}



// pin
.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}


.gate-right-1 {
  background-color: #85b8cb;
}

.gate-right-1>i {
  color: #69f0ae;
}

.gate-left-1 {
  background-color: #e7ffa9;
}

.gate-left-1>i {
  color: #ffa09d;
}

.gate-right-2 {
  background-color: #1D6A96;
}

.gate-right-2>i {
  color: #69f0ae;
}

.gate-left-2 {
  background-color: #005f62;
}

.gate-left-2>i {
  color: #ffa09d;
}

.gate-right-3 {
  background-color: #283b42;
}

.gate-right-3>i {
  color: #69f0ae;
}

.gate-left-3 {
  background-color: #ddfbed;
}

.gate-left-3>i {
  color: #ffa09d
}



.dot {
    &:nth-child(1) {
      top: 15%;
      left: 20%;
    }
    &:nth-child(2) {
      top: 30%;
      left: 60%;
    }
    &:nth-child(3) {
      top: 50%;
      left: 30%;
    }
    &:nth-child(4) {
      top: 20%;
      left: 33%;
    }
    &:nth-child(5) {
      top: 7%;
      left: 55%;
    }
    &:nth-child(6) {
      top: 18%;
      left: 40%;
    }
    &:nth-child(7) {
      top: 21%;
      left: 35%;
    }
    &:nth-child(8) {
      top: 25%;
      left: 50%;
    }
    &:nth-child(9) {
      top: 40%;
      left: 66%;
    }
    &:nth-child(10) {
      top: 10%;
      left: 50%;
    }
    &:nth-child(11) {
      top: 30%;
      left: 47%;
    }
    &:nth-child(12) {
      top: 12%;
      left: 40%;
    }
    &:nth-child(13) {
      top: 20%;
      left: 53%;
    }
    &:nth-child(14) {
      top: 5%;
      left: 50%;
    }
    &:nth-child(15) {
      top: 24%;
      left: 50%;
    }
    &:nth-child(16) {
      top: 35%;
      left: 35%;
    }
    &:nth-child(17) {
      top: 60%;
      left: 30%;
    }
    &:nth-child(18) {
      top: 70%;
      left: 56%;
    }
    &:nth-child(19) {
      top: 80%;
      left: 35%;
    }
    &:nth-child(20) {
      top: 64%;
      left: 20%;
    }
    &:nth-child(21) {
      top: 73%;
      left: 45%;
    }
}

